#playback-controls {
  position: absolute;
  top: 455px;
  left: 10px;
}

#playback-controls i {
  color: #939598;
  font-size: 1.35em;
  vertical-align: middle;
}

#buttons {
  display: inline-block;
  margin-left: 15px;
}

#reset-button {
  border-bottom-left-radius: 0.7em;
}

#play-pause-button {
  min-width: 3.2em;
  border-bottom-right-radius: 0.7em;
}

#joystick-control {
    position: absolute;
    left: 500px;
    top: 300px;
}

#base {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    padding:0px;
    -moz-box-shadow:    inset 2px 2px 3px #888888;
    -webkit-box-shadow: inset 2px 2px 3px #888888;
    box-shadow:         inset 2px 2px 3px #888888;
    border-radius: 100px
}

#joystick {
    background-color:red;
    position:relative;
    margin:0px;
    padding:0px;
    width: 40px;
    height: 40px;
    left:30px;
    top:30px;
    -moz-box-shadow:    3px 3px 3px #888888;
    -webkit-box-shadow: 3px 3px 3px #888888;
    box-shadow:         3px 3px 3px #888888;
    border-radius: 100px
}

#joystick-n {
  position: relative;
  top: -119px;
  left: 45px;
}

#joystick-e {
  position: relative;
  top: -58px;
  left: 90px;
}

#joystick-s {
  position: relative;
  left: 15px;
}

#joystick-w {
  position: relative;
  top: -58px;
  left: -62px;
}

#windspeed {
  position: relative;
  top: 23px;
  left: -82px;
}

#instructions {
  position: absolute;
  top: 469px;
  left: 145px;
}