#model-viewport {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 677px;
  height: 389px;
  overflow: auto;
}

#model {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 660px;
  height: 1193px;
}

#mouse-catcher {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#controls {
  display: none;
  position: absolute;
  top: 385px;
  left: 5px;
}

.button-set {
  display: inline-block;
  margin-rigth: 20px;
}

#filling {
  position: relative;
  top: 2.6em;
  text-align: center;
}


#drilling-header {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}

#controls i {
  color: #939598;
  font-size: 1.25em;
  vertical-align: middle;
}

#reset-button {
  border-bottom-left-radius: 0.7em;
}

#play-pause-button {
  min-width: 3.2em;
  border-bottom-right-radius: 0.7em;
}

.ui-state-active, *:focus {
  box-shadow: #0000ff 0px 0px 6px;
  z-index: 10;
}

*:focus {
  outline: none;
}


#instructions-overlay {
  background: url(../img/fracking_instructions_overlay.png) no-repeat;
  cursor: pointer;
  height: 600px;
  left: 0;
  position: absolute;
  top: 0;
  width: 960px;
  z-index: 100;
}

#instructions-toggle {
  color: #f3f3f3;
  display: block;
  font: .8em arial, helvetica, sans-serif;
  height: 20px;
  left: 10px;
  margin: 0;
  position: absolute;
  text-decoration: none;
  top: 10px;
  z-index: 110;
}

#cc-logo {
  height: auto;
  left: 778px;
  position: absolute;
  top: 507px;
  width: 150px;
}