[submodule "lib/agentscript"]
	path = lib/agentscript
	url = git://github.com/concord-consortium/agentscript.git
[submodule "lib/lab-grapher"]
	path = lib/lab-grapher
	url = https://github.com/concord-consortium/lab-grapher.git
[submodule "lib/iframe-phone"]
	path = lib/iframe-phone
	url = https://github.com/concord-consortium/iframe-phone.git
[submodule "lib/shutterbug.js"]
	path = lib/shutterbug.js
	url = https://github.com/concord-consortium/shutterbug.js.git
