body {
  background: #fff;
}

#model {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 800px;
  height: 260px;
}

#mouse-catcher {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255,255,255,0.0001); /* Fixes a bug in IE where mouse-catcher wasn't observing z-index */
}

#controls {
  display: none;
  position: absolute;
  top: 270px;
  left: 280px;
}

#draw-button-type-options, #remove-button-type-options {
  position: absolute;
  width: 150px;
  z-index: 15;
}

#draw-button-type-options .ui-corner-all, #remove-button-type-options .ui-corner-all {
  line-height: 1;
}

label {
  font-weight: bold;
}

li.header {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
}

span.label {
  margin-left: 5px;
  position: relative;
  top: -0.2em;
}
span.layer-option {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  border: 1px solid black;
  padding: 1px;
  padding-top: 2px;
}

span.remove-option {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  padding: 1px;
  padding-top: 3px;
}

.layer-option.soil {
  background-image: url('../img/tile_soil_01.png');
}
.layer-option.rock1 {
  background-image: url('../img/tile_sand_01.png');
}
.layer-option.rock2 {
  background-image: url('../img/tile_clay_01.png');
}
.layer-option.rock3 {
  background-image: url('../img/tile_gravel_01.png');
}
.layer-option.rock4 {
  background-image: url('../img/tile_bedrock_01.png');
}

.remove-option img {
  margin-top: -3px;
}

#buttons {
  margin-top: 15px;
}

#buttons-row2 {
  margin-top: 15px;
  margin-left: 15px;
}

#playback {
  display: inline-block;
}

#draw-button-set {
  display: inline-block;
}

#edit-button-set, #view-button-set, #remove-button-set {
  display: inline-block;
  margin-left: 15px;
}

#controls i {
  color: #939598;
  font-size: 1.25em;
  vertical-align: middle;
}

#reset-button {
  border-bottom-left-radius: 0.7em;
}

#play-pause-button {
  min-width: 3.2em;
  border-bottom-right-radius: 0.7em;
}

#export {
  position: absolute;
  top: 450px;
}

#exported-data {
  width: 600px;
  height: 300px;
}

.button-label-left {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -3px;
  font-size: 1em;
  font-weight: bold;
  min-width: 120px;
}

.button-label-top {
  margin-bottom: -5px;
  position: relative;
  font-weight: bold;
  width: 385px;
  height: 1em;
  font-size: 0.7em;
}

.horizontal-slider {
  width: 250px;
  display: inline-block;
  margin-top: 10px;
}

.button-label-top .center {
  position: absolute;
  left: 248px;
}

.button-label-top .left {
  position: absolute;
  left: 135px;
}

.button-label-top .right {
  position: absolute;
  right: 0px;
}

#irrigation-well-button-icon, #removal-well-button-icon, #remove-well-icon, #add-water-icon, #remove-water-icon, #remove-icon {
  width: 23px;
  height: 23px;
}

.ui-state-active, *:focus {
  box-shadow: #0000ff 0px 0px 6px;
  z-index: 10;
}

*:focus {
  outline: none;
}

#cc-logo {
  height: auto;
  left: 660px;
  position: absolute;
  top: 270px;
  width: 150px;
}
#cc-logo.low {
  top: 320px;
}
#cc-logo.lower {
  top: 480px;
}
