#model {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 800px;
  height: 260px;
}

#mouse-catcher {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

#controls {
  display: none;
  position: absolute;
  top: 270px;
  left: 280px;
}

#draw-button {
  display: none;
}

#draw-button-type-options {
  position: absolute;
  width: 150px;
  z-index: 5;
}

#draw-button-type-options .ui-corner-all {
  line-height: 1;
}

label {
  font-weight: bold;
}

li.header {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
}

span.label {
  margin-left: 5px;
  position: relative;
  top: -0.2em;
}
span.layer-option {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  border: 1px solid black;
  padding: 1px;
  padding-top: 2px;
}

.layer-option.soil {
  background-color: rgb(232,189,174);
}
.layer-option.rock1 {
  background-color: rgb(196,162,111);
}
.layer-option.rock2 {
  background-color: rgb(123,80,56);
}
.layer-option.rock3 {
  background-color: rgb(113,115,118);
}
.layer-option.rock4 {
  background-color: rgb(33,42,47);
}

#buttons {
  margin-top: 15px;
}

#buttons-row2 {
  margin-top: 15px;
  margin-left: 15px;
}

#playback {
  display: inline-block;
}

#draw-button-set {
  display: inline-block;
}

#edit-button-set, #view-button-set {
  display: inline-block;
  margin-left: 15px;
}

#controls i {
  color: #939598;
  font-size: 1.25em;
  vertical-align: middle;
}

#reset-button {
  border-bottom-left-radius: 0.7em;
}

#play-pause-button {
  min-width: 3.2em;
  border-bottom-right-radius: 0.7em;
}

#export {
  position: absolute;
  top: 450px;
}

#exported-data {
  width: 600px;
  height: 300px;
}

.button-label-left {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -3px;
  font-size: 1em;
  font-weight: bold;
  min-width: 120px;
}

.button-label-top {
  margin-bottom: -5px;
  position: relative;
  font-weight: bold;
  width: 385px;
  height: 1em;
  font-size: 0.7em;
}

.horizontal-slider {
  width: 250px;
  display: inline-block;
  margin-top: 10px;
}

.button-label-top .center {
  position: absolute;
  left: 248px;
}

.button-label-top .left {
  position: absolute;
  left: 135px;
}

.button-label-top .right {
  position: absolute;
  right: 0px;
}

#irrigation-well-button-icon, #removal-well-button-icon, #remove-well-icon, #add-water-icon {
  width: 23px;
  height: 23px;
}
