#sprites {
  position: absolute;
  top: 10px;
  left: 10px;
}

#model-viewport {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 820px;
  height: 445px;
  overflow: auto;
}

#model {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 572px;
  height: 349px;
}

#mouse-catcher {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#controls {
  display: none;
  position: absolute;
  top: 450px;
  left: 5px;
}

.button-set {
  display: inline-block;
  margin-right: 20px;
}

.button-label-left {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -3px;
  font-size: 1.5em;
  font-weight: bold;
}

.button-label-top {
  margin-bottom: -5px;
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
}

#controls i {
  color: #939598;
  font-size: 1.25em;
  vertical-align: middle;
}

#reset-button {
  border-bottom-left-radius: 0.7em;
}

#play-pause-button {
  min-width: 3.2em;
  border-bottom-right-radius: 0.7em;
}

.horizontal-slider {
  width: 250px;
  display: inline-block;
}

#wind-top-labels {
  width: 330px;
  height: 1em;
}

#wind-none {
  position: absolute;
  font-size: 0.5em;
  left: 190px;
  top: 5px;
}

#wind-left {
  position: absolute;
  left: 80px;
}

#wind-right {
  position: absolute;
  right: 0px;
}