#output-graphs {
  position: absolute;
  top: 6px;
  left: 610px;
  width: 334px;
  height: 380px;
  overflow: none;
}

#output-graphs.pushed-right {
  left: 637px;
  width: 309px;
}

div.graph {
   background-color: #fff;
   border-radius: 0.25em;
   width: 345px;
   height: 350px;
   margin-bottom: 10px;
}

#output-graphs.pushed-right .graph {
  width: 308px;
}

.graph {
  position: relative;
  background: rgba(255, 255, 255, 0); }
  .graph:focus {
    outline: #76d2b8 solid 0.2em; }
  .graph div.background {
    position: absolute;
    background-repeat: repeat-x;
    background-position: left top;
    background-size: contain;
  }
  .graph div.button-layer {
    position: absolute;
    text-align: right; }
    .graph div.button-layer a {
      opacity: 0.3;
      color: black;
      font-size: 120%; }
    .graph div.button-layer a:hover {
      opacity: 1; }
  .graph canvas.overlay {
    position: absolute;
   }

svg.graph:focus {
  outline: #76d2b8 solid 0.2em; }
svg.graph text.title {
  font-size: 0.8em; }
svg.graph text.ylabel {
  font-size: 0.8em; }
svg.graph text.xlabel {
  font-size: 0.8em; }
svg.graph text.axis {
  font-size: 0.8em; }
  svg.graph text.axis:focus {
    outline: #76d2b8 solid 0.2em; }
svg.graph rect.draggable-axis {
  fill: rgba(255, 255, 255, 0); }
  svg.graph rect.draggable-axis:hover {
    fill: rgba(196, 196, 196, 0.2); }

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }

/** begin styles for "show key" link */
.graph a {
  color: #4599D3
}
.graph a.show-key {
  font-size: 0.7em;
  position: absolute;
  top: 2.8em;
  left: 4.5em;
  z-index: 4;
}
.graph a:link {
  text-decoration: none;
}
.graph a:visited {
  text-decoration: none;
}
.graph a:hover {
  text-decoration: underline;
  color: #1B7FC3;
}
.graph a:active {
  text-decoration: underline;
  color: #1B7FC3;
}

.key {
  width: 14em;
  position: absolute;
  border: none;
  border-radius: 0.4em;
  /* need to be higher than div#mouse-catcher */
  z-index: 11;
  background-color: white;
}

.icon-remove-sign {
  color: #666;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}

.icon-remove-sign:hover {
  color: black;
}
.icon-remove-sign:active {
  color: black;
}
/** end styles for "show key" link */
